<div class="row">
  <div class="large-12 columns">

    <!-- Desktop Slider -->

    <ul class="breadcrumbs">
      <li><a href="/">meuseriado</a></li>
      <li><a href="/app/assets/images/series">Séries</a></li>
      <li><a href='/series/<%= @serie.slug %>'><%= @serie.nome %></a></li>
      <li class="current"><a href='#'>Personagens</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <a href="/series/<%= @serie.slug %>">
        <img src="<%= @serie.poster %>" alt='<%= @serie.slug %>-grande'>
    </a>

    <% if (user_signed_in? && current_user.viu_serie?(@serie)) %>
        <a href='#' class="small button large-12 success columns primeiro-botao">Dar nota(Ver com o André
          as estrelinhas)</a>
    <% else %>
        <a href='/series/<%= @serie.slug %>/adicionar' class="small button large-12 success columns primeiro-botao">Adicionar
          as minhas séries favoritas!</a>
    <% end %>
    <a href='/series/<%= @serie.slug %>/marcar_toda' class="small button large-12 columns">Marcar série inteira como
      vista</a>
    <a href="#" class="small button secondary large-12 columns">Vou assistir depois</a>
    <a href="#" class="small button secondary large-12 columns">Escrever uma avaliação</a>
  </div>
  <div class="large-8 columns">
    <h1><%= @serie.nome %></h1>

    <h2 class="lista-de-personagens">Lista de personagens:</h2>
    <ul class="lista-elenco">
      <% @serie.personagens.each do |personagem| %>
          <li>
            <a href="/series/<%= @serie.slug %>/personagens/<%= personagem.slug %>"><img src="<%= personagem.imagem %>" alt="<%= personagem.nome %>" title="<%= personagem.nome %>" class="imagem-elenco elenco-todos"></a>
          </li>
      <% end %>
    </ul>
  </div>
</div>