<script>
    $(document).ready(function () {
        $('#star').raty({
            <% if current_user && @personagem.nota_user(current_user) %>
            score: <%= @personagem.nota_user(current_user) %>,
            <% end %>
            half: true,
            size: 24,
            starHalf: '/images/star-half-big.png',
            starOff: '/images/star-off-big.png',
            starOn: '/images/star-on-big.png',
            click: function (score, evt) {
                $.post("<%= dar_nota_personagem_path %>", { nota: score });
            }

        });
    });
</script>
<div class="row">
  <div class="large-12 columns">

    <!-- Desktop Slider -->

    <ul class="breadcrumbs">
      <li><a href="/">meuseriado</a></li>
      <li><a href="/series">Séries</a></li>
      <li><a href="/series/<%= @personagem.serie.slug %>"><%= @personagem.serie.nome_exibicao %></a></li>
      <li class="current"><a href="#"><%= @personagem.nome %></a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <a href="/series/<%= @personagem.serie.slug %>/personagens/<%= @personagem.slug %>"><img src="<%= @personagem.imagem %>" alt="<%= @personagem.nome %>" title="<%= @personagem.nome %>"></a>

    <div class="row">
      <div class="large-4 columns">
        <h4>Avalie:</h4>
      </div>
      <div class="large-8 columns">
        <div id="star" class="nota-da-serie"></div>
      </div>
    </div>

    <% if (user_signed_in? && current_user.fa?(@personagem)) %>
        <a href="/personagens/<%= @personagem.slug %>/desmarcar" class="small button large-12 success columns primeiro-botao" rel="nofollow">Remover
          personagem favorito</a>
    <% else %>
        <a href="/personagens/<%= @personagem.slug %>/marcar" class="small button large-12 success columns primeiro-botao" rel="nofollow">Marcar
          como personagem favorito</a>
    <% end %>

    <a href="#" class="small button large-12 columns Facebook-entrar" onclick="
    window.open(
            'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
            'facebook-share-dialog',
            'width=626,height=436');
            return false;">Recomendar no Facebook</a>

    <h4>Série de origem:</h4>
    <a href="/series/<%= @personagem.serie.slug %>"><img src="<%= @personagem.serie.banner %>" alt="<%= @personagem.serie.nome_exibicao %>" title="<%= @personagem.serie.nome_exibicao %>"></a>

  </div>
  <div class="large-8 columns">
    <h1><%= @personagem.nome %></h1>

    <h2>Ator/Atriz:</h2>

    <p><%= @personagem.ator.nome %></p>

    <h2>Quem é fã:</h2>
    <ul class="quem-viu-episodio large-12">
      <% @personagem.avaliacoes.includes(:user).each do |avaliacao| %>
          <li>
            <a href="/users/<%= avaliacao.user.slug %>" class="tip-user">
              <img src="<%= avaliacao.user.imagem_formatada %>" width="60" height="60" alt="<%= avaliacao.user.name %>">
            </a>
          </li>
      <% end %>
    </ul>
    <%= commontator_thread(@personagem) %>


  </div>

</div>

