<script>
    $(document).ready(function () {
        $('#star').raty({
            half: true,
            size: 24,
            starHalf: '/images/star-half-big.png',
            starOff: '/images/star-off-big.png',
            starOn: '/images/star-on-big.png',

        });
    });
</script>
<div class="row">
  <div class="large-12 columns">

    <!-- Desktop Slider -->

    <ul class="breadcrumbs">
      <li><a href="/">meuseriado</a></li>
      <li><a href="/series">Séries</a></li>
      <li><a href="/series/<%= @personagem.serie.slug %>"><%= @personagem.serie.nome %></a></li>
      <li class="current"><a href="#"><%= @personagem.nome %></a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <a href="/series/<%= @personagem.serie.slug %>/personagens/<%= @personagem.slug %>"><img src="<%= @personagem.imagem %>" alt="<%= @personagem.nome %>" title="<%= @personagem.nome %>"></a>

    <div class="large-7 columns">
      <h4>Avalie o personagem:</h4>
    </div>
    <div class="large-5 columns">
      <div id="star" class="nota-da-serie"></div>
    </div>

    <% if (user_signed_in? && current_user.fa?(@personagem)) %>
        <a href="/personagens/<%= @personagem.slug %>/desmarcar" class="small button large-12 success columns primeiro-botao" rel="nofollow">Remover
          personagem favorito</a>
    <% else %>
        <a href="/personagens/<%= @personagem.slug %>/marcar" class="small button large-12 success columns primeiro-botao" rel="nofollow">Marcar
          como personagem favorito</a>
    <% end %>

    <h4>Série de origem:</h4>
    <a href="/series/<%= @personagem.serie.slug %>"><img src="<%= @personagem.serie.banner %>" alt="<%= @personagem.serie.nome %>" title="<%= @personagem.serie.nome %>"></a>

  </div>
  <div class="large-8 columns">
    <h1><%= @personagem.nome %></h1>

    <h2>Ator/Atriz:</h2>

    <p><%= @personagem.ator.nome %></p>

    <h2>Quem é fã:</h2>
    <ul class="quem-viu-episodio large-12">
      <% @personagem.avaliacoes.each do |avaliacao| %>
          <li>
            <a href="/users/<%= avaliacao.user.slug %>" class="tip-user">
              <img src="<%= avaliacao.user.imagem_formatada %>" width="60" height="60" alt="<%= avaliacao.user.name %>">
            </a>
          </li>
      <% end %>
    </ul>
    <%= commontator_thread(@personagem) %>


  </div>

</div>

