<div class="row">
  <div class="large-12 columns">
    <ul class="breadcrumbs">
      <li><a href="/">meuseriado</a></li>
      <li><a href="/series">Séries</a></li>
      <li><a href='/series/<%= @temporada.serie.slug %>'><%= @temporada.serie.nome %></a></li>
      <li class="current">
        <a href='/series/<%= @temporada.serie.slug %>/temporadas/<%= @temporada.temporada %>'>Temporada <%= @temporada.temporada %></a>
      </li>
    </ul>
  </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#star').raty({readOnly: true, score: <%= @temporada.media_geral ? @temporada.media_geral : 0   %>  });

        $('#star2').raty({

            <% if current_user && @temporada.nota_user(current_user) %>
            score: <%= @temporada.nota_user(current_user) %>,
            <% end %>
            half: true,
            size: 24,
            starHalf: '/images/star-half-big.png',
            starOff: '/images/star-off-big.png',
            starOn: '/images/star-on-big.png',
            click: function (score, evt) {
                $.post("<%= dar_nota_temporada_path %>", { nota: score });
            }

        });


    });


</script>
<div class="row">
  <div class="large-4 columns">
    <img src="<%= @temporada.imagem %>" alt="<%= @temporada.serie.slug %>-grande">

    <div class="row">
      <div class="large-4 columns">
        <h4>Avalie:</h4>
      </div>
      <div class="large-8 columns">
        <div id="star2" class="nota-da-serie"></div>
      </div>
    </div>

    <% if (user_signed_in? && current_user.viu_temporada?(@temporada)) %>
        <a href='/temporadas/<%= @temporada.slug %>/desmarcar_toda' class="small button large-12 success columns primeiro-botao" rel="nofollow">Remover
          das temporadas vistas</a>
    <% else %>
        <a href='/temporadas/<%= @temporada.slug %>/marcar_toda' class="small button large-12 success columns primeiro-botao" rel="nofollow">Marcar
          temporada inteira como vista</a>
    <% end %>

    <a href="#" class="small button secondary large-12 columns">Vou assistir depois</a>
    <a href="#" class="small button secondary large-12 columns">Escrever uma avaliação</a>
    <h4>Quem viu esta temporada:</h4>
    <ul class="quem-viu-episodio large-12">
      <% @temporada.avaliacoes.each do |avaliacao| %>
          <li>
            <a href='/users/<%= avaliacao.user.slug %>' class="tip-user">
              <img src='<%= avaliacao.user.imagem_formatada %>' width="60" height="60" alt='<%= avaliacao.user.name %>'>
            </a>
          </li>
      <% end %>
    </ul>
    <a href="#"><%= @temporada.avaliacoes.count %> pessoas marcaram como visto</a>
  </div>
  <div class="large-8 columns">
    <hgroup class="titulo-episodio">
      <h1>
        <a href="/series/<%= @temporada.serie.slug %>">
          <small><%= @temporada.serie.nome %>:</small>
        </a>
        <a href="#">
          Temporada <%= @temporada.temporada %>
        </a>
      </h1>
    </hgroup>
    <div class="row infos-interior">
      <div class="large-5 columns">Média geral:
        <div id="star" class="estrelas-pagina-interior"></div>
        <span class="nota-numerica"><%= @temporada.media_geral %></span></div>
      <div class="large-7 columns data-lancamento-interno">Lançamento: <b><%= date @temporada.data_lancamento %></b>
      </div>
    </div>
    <p class="justify"></p>

    <div class="section-container accordion" data-section="accordion">
      <section class="active">
        <%= listar_temporada @temporada %>
      </section>

    </div>
    <%= commontator_thread(@temporada) %>
  </div>
</div>
