<% user_avaliacoes_includes = user.avaliacoes.includes(:avaliavel) %>
<% if !user_avaliacoes_includes.empty? %>
    <div class="row">
      <div class="large-12 columns">
        <h2>Últimas Atividades</h2>
        <ul class="lista-ultimas-atividades">
          <% user_avaliacoes_includes.limit(10).each do |avaliacao| %>
              <% avaliavel = avaliacao.avaliavel %>
              <% if avaliacao.avaliavel_type.eql? 'Serie' %>
                  <li>Adicionou <a href='/series/<%= avaliavel.slug %>'><%= avaliavel.nome %></a> às
                    suas séries favoritas
                  </li>
              <% end %>
              <% if avaliacao.avaliavel_type.eql? 'Episodio' %>
                  <li>Assistiu <a href="/episodios/<%= avaliavel.slug %>"><%= avaliavel.nome %></a>
                    da
                    <a href="/series/<%= avaliavel.serie.slug %>/temporadas/<%= avaliavel.temporada %>">
                      temporada <%= avaliavel.temporada %></a> de
                    <a href='/series/<%= avaliavel.serie.slug %>'><%= avaliavel.serie.nome %></a>
                  </li>
              <% end %>

              <% if avaliacao.avaliavel_type.eql? 'Personagem' %>
                  <li>Curtiu
                    <a href="/series/<%= avaliavel.serie.slug %>/personagens/<%= avaliavel.slug %>"><%= avaliavel.nome %></a>
                    da série
                    <a href='/series/<%= avaliavel.serie.slug %>'><%= avaliavel.serie.nome_exibicao %></a>
                  </li>
              <% end %>
          <% end %>
        </ul>
        <a href="#" class="right">Mostrar todas as atualizações >></a>
      </div>
    </div>

<% end %>
