<div class="pagina-formulario">
  <div class="row">
    <div class="large-12 columns">
      <h2>Esqueceu sua senha?</h2>

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f| %>
          <%= devise_error_messages! %>

          <div><%= f.label :email %>
            <br/>
            <%= f.email_field :email, :autofocus => true %></div>

          <div class="row lista-de-botoes">
            <div class="large-2 columns"><%= f.submit "Enviar instruções", :class => 'small button large-12 columns' %></div>
            <div class="large-3 columns">
              <a href="/users/auth/facebook" class="small button large-12 columns Facebook-entrar">Entrar com
                Facebook</a></div>
            <div class="large-3 columns">
              <a href="/users/auth/google_oauth2" class="small button large-12 columns google-entrar">Entrar com conta
                Google</a></div>
            <div class="large-3 columns">
              <a href="/users/sign_in" class="small button secondary large-12 columns">Já tem um login? Entrar</a></div>
          </div>
      <% end %>

    </div>
  </div>
</div>

