<div class="cabecalho"></div>
<div class="row">
  <div class="large-12 columns">
    <!-- Navigation -->
    <nav class="top-bar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1 class="logo-meuseriado">
            <a href="/">
              meuseriado
            </a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <% if user_signed_in? %>
            <div class="painel-logado right">
              <a href="#" data-dropdown="dropdown-usuario-logado"><img src='<%= current_user.imagem_formatada %>'> <%= current_user.name %>
              </a>
              <ul id="dropdown-usuario-logado" class="f-dropdown" data-dropdown-content>
                <li><%= link_to 'Onde parei?', home_onde_parei_path %></li>
                <li><%= link_to 'Calendário', home_calendario_path %></li>
                <li><%= link_to 'Minha página pessoal', user_path(current_user) %></li>
                <li><%= link_to "Sair", destroy_user_session_path, method: :get %></li>
              </ul>
            </div>
        <% else %>
            <ul class="painel-entrar right">
              <li><a href="#" data-dropdown="drop_entrar">Entrar</a>

                <div id="drop_entrar" class="f-dropdown content small" data-dropdown-content="">
                  <h4>Entre com sua conta:</h4>

                  <p>
                    <%= link_to "Entrar com Facebook", user_omniauth_authorize_path(:facebook), {:class => "button Facebook-entrar facebook-caixa-entrar large-12 columns"} %>
                  </p>

                  <p>
                    <%= link_to "Entrar com conta do Google", user_omniauth_authorize_path(:google_oauth2), {:class => "small button large-12 columns google-caixa-entrar google-entrar entrar"} %>
                  </p>
                  <br/>
                  <hr>
                  <p>
                    Ou entre com seu login e senha
                  </p>
                  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-login"}) do |f| %>

                      <input autofocus="autofocus" id="user_email_entrar" placeholder="Nome" name="user[email]" type="email" class="campo campo-login">

                      <input id="user_password_entrar" name="user[password]" placeholder="Senha" type="password" class="campo campo-login">

                      <div class="esqueceu-sua-senha">
                        <%= link_to "Esqueceu sua senha?", new_password_path(resource_name) %>
                      </div>
                      <% if devise_mapping.rememberable? -%>
                          <div class="permanecer-conectado"><%= f.check_box :remember_me %> Permanecer conectado</div>
                      <% end -%>

                      <div><%= f.submit "Entrar", :class => 'button large-12 columns botao-entrar' %></div>
                  <% end %>
                </div>
              </li>
              <li><a href="#" data-dropdown="drop2" class="small button botao-destaque">Cadastre-se</a>

                <div id="drop2" class="f-dropdown content small" data-dropdown-content="">
                  <h4>Crie sua conta agora:</h4>

                  <p>
                    <%= link_to "Entrar com Facebook", user_omniauth_authorize_path(:facebook), {:class => "button Facebook-entrar facebook-caixa-entrar large-12 columns"} %>
                  </p>

                  <p>
                    <%= link_to "Entrar com conta do Google", user_omniauth_authorize_path(:google_oauth2), {:class => "small button large-12 columns google-caixa-entrar google-entrar entrar"} %>
                  </p>
                  <br/>
                  <hr>
                  <p>Ou crie sua conta sem Facebook</p>
                  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-login"}) do |f| %>
                      <input id="user_name" name="user[name]" type="text" placeholder="Nome" class="campo campo-login">
                      <input id="user_email" name="user[email]" type="text" placeholder="Email" class="campo campo-login">
                      <input id="user_password" name="user[password]" type="password" placeholder="Senha" class="campo campo-login">
                      <input id="user_password_confirmation" name="user[password_confirmation]" type="password" placeholder="Confirme sua senha" class="campo campo-login">
                      <%= f.submit "Cadastrar", :class => 'button large-12 columns botao-entrar' %>
                  <% end %>
                </div>
              </li>
            </ul>
        <% end %>

        <% if user_signed_in? %>

            <ul class="notificacoes">
              <% pending_invited_by = current_user.pending_invited_by %>
              <% if !pending_invited_by.present? %>
                  <li class="notificacao-geral">
                  </li>
              <% else %>
                  <li>
                    <a href="#" data-dropdown="drop3">
                      <div class="notificacao-geral-ativa">
                        <div class="numero-de-notificacoes">
                          <%= pending_invited_by.count %>
                        </div>
                      </div>
                    </a>

                    <div id="drop3" class="f-dropdown content small caixa-atualizacoes-detalhadas" data-dropdown-content="">
                      <ul class="lista-de-notificacoes">
                        <% pending_invited_by.each do |user| %>
                            <li class="notificacao-detalhada ainda-nao-leu texto-limitado-geral" id="li_<%= user.id %>">
                              <img src="<%= user.imagem_formatada %>" alt="<%= user.name %>"> <%= user.name %> te
                              adicionou
                              aos amigos
                              <div class="row">
                                <div class="aceitar-amizade" id="aceitar_<%= user.id %>">
                                  <button class="small" onclick="$.post('/users/<%= user.id %>/aceitar_amigo'); $('#aceitar_<%=user.id %>').empty(); $('li_<%= user.id %>').removeClass('ainda-nao-leu');">Aceitar</button>
                                  <button class="small secondary" onclick="$.post('/users/<%= user.id %>/recusar_amigo');$('#aceitar_<%=user.id %>').empty(); $('li_<%= user.id %>').removeClass('ainda-nao-leu');">Recusar</button>
                                </div>
                              </div>
                            </li>
                        <% end %>
                      </ul>
                    </div>
                  </li>
              <% end %>
            </ul>

        <% end %>

        <ul class="pesquisa-topo">
          <%= form_for Serie.new do |f| %>
              <li class="search">
                <input type="search" id="pesquisa" name="pesquisa" class="pesquisa-topo-campo" placeholder="Procure por séries, episódios, pessoas ...">
              </li>
              <li class="has-button hide">
                <%= f.submit "Cadastrar" %>
              </li>
          <% end %>
        </ul>
        </ul>
      </section>
    </nav>
    <!-- End Navigation -->
  </div>
</div>
<script>
    $.widget("custom.catcomplete", $.ui.autocomplete, {
        _renderMenu: function (ul, items) {
            var that = this,
                    currentCategory = "";
            $.each(items, function (index, item) {
                if (item.tipo != currentCategory) {
                    ul.append("<li class='ui-autocomplete-category'>" + item.tipo + "</li>");
                    currentCategory = item.tipo;
                }
                that._renderItemData(ul, item);
            });
        },
        _renderItem: function (ul, item) {
            if (item.imagem) {
                return $("<li>")
                        .append("<a> <img src='" + item.imagem + "' class='imagem-temporada'/> <p class='title nome-temporada'>" + item.label + "</p></a></li> ")
                        .appendTo(ul);
            } else {
                return $("<li>")
                        .append("<a> " + item.label + "</a></li> ")
                        .appendTo(ul);
            }
        }
    });

    $(function () {
        $("#pesquisa").catcomplete({
            source: "/autocomplete/index",
            minLength: 2,
            delay: 0,
            select: function (event, ui) {
                $("#pesquisa").val(ui.item.label);
                if (ui.item.tipo == 'Personagens') {
                    window.location.replace("/series/" + ui.item.serie + "/personagens/" + ui.item.id);
                } else if (ui.item.tipo == 'User') {
                    window.location.replace("/users/" + ui.item.id);
                } else {
                    window.location.replace("/series/" + ui.item.id);
                }
                return true;
            }
        });
    });

</script>
