<div class="large-3 columns texto-limitado">
  <h2 class="titulo-ultimas-atualizacoes">Rolando agora</h2>
  <ul class="trending-topic">
  	<% avaliacoes.each do |avaliacao| %>
    	<li><a href="/users/<%= avaliacao.user.slug%>"><img src="<%=avaliacao.user.imagem_formatada%>" style="width: 16px; height: 16px;"></a>
    		<% if avaliacao.nota.nil? %>
    	 		assistiu 
    	 	<% else %>
    	 		avaliou
    	 	<% end %>
    	 <a href="/series/<%=avaliacao.avaliavel.serie.slug%>"><%=avaliacao.avaliavel.serie.nome%></a> - <a href="/episodios/<%=avaliacao.avaliavel.slug%>"><%=avaliacao.avaliavel.nome_episodio%></a></li>
    <% end %>
 </ul>
</div>