<div class="pagina-inicial">
  <div class="row">
    <div class="large-12 columns">
      <h2 class="titulo-mais-assistidos-da-semana">Mais assistidos da semana</h2>

      <div class="caixa-de-destaques">
        <ul class="lista-de-series-mais-assistidas">
          <li class="primeiro-lugar">
            <a href="/series/<%= @episodios[0].serie.slug %>"><img src="<%= @episodios[0].serie.poster %>" alt="<%= @episodios[0].serie.slug %>"></a>

            <div class="descricao-destacando">
              <h1 class="indent"><a href="#"><%= @episodios[0].serie.nome %></a></h1>

              <div class="pessoas-assistiram left">
                <%= @episodios[0].serie.visualizacoes_semanais.count %>
              </div>
              <div class="pessoas-votaram left">
                <%= @episodios[0].serie.nota %>
              </div>
              <div class="pessoas-comentaram left">
                <%= 1132 %>
              </div>
            </div>
          </li>
          <% for i in 1..3 %>
              <li class="segundo-lugar">
                <a href="/series/<%= @episodios[i].serie.slug %>"><img src="<%= @episodios[i].serie.poster %>" alt="<%= @episodios[i].serie.slug %>"></a>

                <div class="descricao-destacando">
                  <h2 class="indent"><a href="#"><%= @episodios[i].serie.nome %></a></h2>

                  <div class="pessoas-assistiram left">
                    <%= @episodios[i].serie.visualizacoes_semanais.count %>
                  </div>
                  <div class="pessoas-votaram left">
                    <%= @episodios[i].serie.nota %>
                  </div>
                </div>
              </li>
          <% end %>

          <% for i in 4..@episodios.size - 1 %>
              <% if @episodios[i].serie %>
                  <li class="terceiro-lugar">
                    <a href="/series/<%= @episodios[i].serie.slug %>"><img src="<%= @episodios[i].serie.poster %>" alt="<%= @episodios[i].serie.slug %>"></a>

                    <div class="descricao-destacando">
                      <h3 class="indent"><a href="#"><%= @episodios[i].serie.nome %></a></h3>

                      <div class="pessoas-assistiram left">
                        <%= @episodios[i].serie.visualizacoes_semanais.count %>
                      </div>
                    </div>
                  </li>
              <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <hr>
    </div>
  </div>
  <div class="row">
    <%= gerando_assunto(@avaliacoes) %>
    <%= rolando_agora(@avaliacoes) %>
    <div class="large-5 columns">
      <div class="anuncio-grande right">
      </div>
    </div>
  </div>
</div>