<div class="pagina-formulario">
  <div class="row">
    <div class="large-12 columns">
      <h2>Entrar</h2>

      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div><%= f.label :email %>
            <br/>
            <%= f.email_field :email, :autofocus => true %></div>

          <div><%= f.label :password %>
            <br/>
            <%= f.password_field :password %></div>

          <% if devise_mapping.rememberable? -%>
              <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>

          <div class="row">
            <%= f.submit "Entrar", :class => 'button large-12 columns botao-entrar' %>
            <div class="large-3 columns">
              <a href="/users/auth/facebook" class="small button large-12 columns Facebook-entrar">Entrar com
                Facebook</a></div>
            <div class="large-3 columns">
              <a href="/users/auth/google_oauth2" class="small button large-12 columns google-entrar">Entrar com conta
                Google</a></div>
          </div>

      <% end %>
    </div>
  </div>
</div>