<script type="text/javascript">
    $(document).ready(function () {
        $('#star2').raty({readOnly: true, score: <%=@episodio.nota.to_f/2%>});
    });

    $(document).ready(function () {
        $('#star').raty({

            <% if current_user && @episodio.nota_user(current_user) %>
            score: <%= @episodio.nota_user(current_user) %>,
            <% end %>
            half: true,
            size: 24,
            starHalf: '/images/star-half-big.png',
            starOff: '/images/star-off-big.png',
            starOn: '/images/star-on-big.png',
            click: function (score, evt) {
                $.post("<%= dar_nota_episodio_path %>", { nota: score });
            }

        });
    });

</script>

<div class="row">
  <div class="large-12 columns">
    <ul class="breadcrumbs">
      <li><a href="/">meuseriado</a></li>
      <li><a href="/series">Séries</a></li>
      <li><a href='/series/<%= @episodio.serie.slug %>'><%= @episodio.serie.nome %></a></li>
      <li>
        <a href='/series/<%= @episodio.serie.slug %>/temporadas/<%= @episodio.temporada %>'>Temporada <%= @episodio.temporada %></a>
      </li>
      <li class="current"><a href="#">Episódio <%= @episodio.numero %>: <%= @episodio.nome %></a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <img src='<%= @episodio.banner %>' alt="imagem-episodio">

    <div class="row">
      <div class="large-4 columns">
        <h4>Avalie:</h4>
      </div>
      <div class="large-8 columns">
        <div id="star" class="nota-da-serie"></div>
      </div>
    </div>


    <% if (user_signed_in? && current_user.viu_episodio?(@episodio)) %>
        <a href='/episodios/<%= @episodio.slug %>/desmarcar' class="small button large-12 success columns primeiro-botao" rel="nofollow">Remover
          dos episódios vistos!</a>
    <% else %>
        <a href='/episodios/<%= @episodio.slug %>/marcar' class="small button large-12 success columns primeiro-botao" rel="nofollow">Eu
          vi este episódio!</a>
    <% end %>
    <a href="#" class="small button secondary large-12 columns">Vou assistir depois</a>
    <a href="#" class="small button secondary large-12 columns">Escrever uma avaliação</a>
    <h4>Quem viu este episódio:</h4>
    <ul class="quem-viu-episodio large-12">
      <% @episodio.avaliacoes.each do |avaliacao| %>
          <li>
            <a href='/users/<%= avaliacao.user.slug %>' class="tip-user">
              <img src='<%= avaliacao.user.imagem_formatada %>' width="60" height="60" alt='<%= avaliacao.user.name %>'>
            </a>
          </li>
      <% end %>
    </ul>
    <a href="#"><%= @episodio.avaliacoes.count %> pessoas marcaram como visto</a>
  </div>
  <div class="large-8 columns">
    <hgroup class="titulo-episodio">
      <h2>
        <a href="/series/<%= @episodio.serie.slug %>"><%= @episodio.serie.nome %></a> -
        <a href='/series/<%= @episodio.serie.slug %>/temporadas/<%= @episodio.temporada %>'>
          Temporada <%= @episodio.temporada %></a>
      </h2>
      <a href="#">
        <h1>
          <small>Episódio <%= @episodio.numero %>:</small>
          <%= @episodio.nome %>
        </h1>
      </a>
    </hgroup>

    <div class="row infos-interior">
      <div class="large-4 columns"><b>Média geral:</b>

        <div id="star2" class="estrelas-pagina-interior"></div>
        <span class="nota-numerica"></span></div>
      <div class="large-4 columns data-lancamento-interno">
        <b>Lançamento:</b> <%= date @episodio.estreia %>
      </div>
    </div>


    <p class="justify"> <%= @episodio.sinopse %></p>
    <!-- comentarios -->
    <%= commontator_thread(@episodio) %>

    <!-- Comentarios Fim -->
  </div>
</div>
