<div class="row">
  <div class="large-12 columns">
    <ul class="breadcrumbs">
      <li><a href="/">meuseriado</a></li>
      <li><a href="/batalhas">Batalha de séries</a></li>
      <li class="current"><a href="#"><%= @batalha.nome %></a></li>
    </ul>
  </div>
</div>

<div class="row">
  <section class="large-12 columns guerra-de-series">
    <div class="row">
      <div class="large-12 columns">
        <h1 class="titulo-batalha-de-series">Batalha de séries</h1>
      </div>
      <div class="large-4 small-4 columns">
        <a href="<%= serie_path(@batalha.desafiante)%>"><img src="<%= @batalha.desafiante.poster %>" alt="<%= @batalha.desafiante.nome_exibicao %>"></a>
      </div>

      <% likes_desafiante = @batalha.desafiante.likes(:vote_scope => @batalha.id).size  %>
      <% likes_desafiada = @batalha.desafiada.likes(:vote_scope => @batalha.id).size  %>
      <% qtde_neutros = @batalha.likes(:vote_scope => "neutro").size  %>

      <% if likes_desafiante >= likes_desafiada   %>
          <% vencedor =  @batalha.desafiante %>
          <% perdedor =  @batalha.desafiada %>
      <% else %>
          <% vencedor =  @batalha.desafiada %>
          <% perdedor =  @batalha.desafiante %>
      <% end %>

      <% likes_vencedor = vencedor.likes(:vote_scope => @batalha.id).size  %>
      <% likes_perdedor = perdedor.likes(:vote_scope => @batalha.id).size  %>

      <div class="large-4 small-4 columns">
        <h2 class="titulo-vencedor texto-limitado"><%= vencedor.nome_exibicao %></h2>

        <div class="progress resultado-batalha">
          <span id="progresso_temporada_78901" class="batalha-vencedor" style="width:<%= @batalha.percentual(likes_vencedor) %>%"><%= likes_vencedor%></span>
        </div>

        <h2 class="titulo-perdedor texto-limitado"><%= perdedor.nome_exibicao %></h2>

        <div class="progress resultado-batalha">
          <span id="progresso_temporada_78901" class="batalha-perdedor" style="width:<%= @batalha.percentual(likes_perdedor)%>%"><%= likes_perdedor %></span>
        </div>
        <h2 class="titulo-neutro texto-limitado">Neutros</h2>

        <div class="progress resultado-batalha resultado-batalha-neutro">
          <span id="progresso_temporada_78901" class="batalha-neutro" style="width:<%= @batalha.percentual(qtde_neutros)%>%"><%= qtde_neutros %></span>
        </div>

      </div>
      <div class="large-4 small-4 columns">
        <a href="<%= serie_path(@batalha.desafiada)%>"><img src="<%= @batalha.desafiada.poster %>" alt="<%= @batalha.desafiada.nome_exibicao %>"></a>
      </div>
    </div>

    <div class="row">
      <div class="large-4 small-4 columns">

        <%= link_to "Votar nessa opção", votar_batalha_serie_path(batalha_id: @batalha, id: @batalha.desafiante), class: "small button large-12 success columns primeiro-botao", method: :put%>

        <div class="row">
          <div class="large-12 columns">
            <h3>Quem apoia esta opção: (<%= likes_desafiante %>)</h3>
            <ul class="quem-viu-episodio lista-com-margem-menor">
              <li>
                <a href="/users/marcos-vinicius-teixeira" class="tip-user">
                  <img src="http://www.meuseriado.com.br/images/series/users/1/969038_509418345804073_1446962869_n.jpg" width="60" height="60" alt="Marcos Vinicius Teixeira">
                </a>
              </li>
              <li>
                <a href="/users/marcos-vinicius-teixeira" class="tip-user">
                  <img src="http://www.meuseriado.com.br/images/series/users/1/969038_509418345804073_1446962869_n.jpg" width="60" height="60" alt="Marcos Vinicius Teixeira">
                </a>
              </li>
              <li>
                <a href="/users/marcos-vinicius-teixeira" class="tip-user">
                  <img src="http://www.meuseriado.com.br/images/series/users/1/969038_509418345804073_1446962869_n.jpg" width="60" height="60" alt="Marcos Vinicius Teixeira">
                </a>
              </li>
              <li>
                <a href="/users/marcos-vinicius-teixeira" class="tip-user">
                  <img src="http://www.meuseriado.com.br/images/series/users/1/969038_509418345804073_1446962869_n.jpg" width="60" height="60" alt="Marcos Vinicius Teixeira">
                </a>
              </li>
              <li>
                <a href="/users/marcos-vinicius-teixeira" class="tip-user">
                  <img src="http://www.meuseriado.com.br/images/series/users/1/969038_509418345804073_1446962869_n.jpg" width="60" height="60" alt="Marcos Vinicius Teixeira">
                </a>
              </li>
              <li>
                <a href="/users/marcos-vinicius-teixeira" class="tip-user">
                  <img src="http://www.meuseriado.com.br/images/series/users/1/969038_509418345804073_1446962869_n.jpg" width="60" height="60" alt="Marcos Vinicius Teixeira">
                </a>
              </li>
            </ul>
            <div class="row mostrar-todos-pequeno">
              <div class="large-12 columns">
                <a href="/series/anatomia-de-grey/personagens" class="right">Mostrar todos</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="large-4 small-4 columns">
        <a href="#" class="small secondary button large-12 columns primeiro-botao">Sou neutro nesta batalha</a>

        <div class="row">
          <div class="large-12 columns">
            <h3>Quem é neutro: (<%= qtde_neutros %>)</h3>
            <ul class="quem-viu-episodio lista-com-margem-menor">
              <li>
                <a href="/users/marcos-vinicius-teixeira" class="tip-user">
                  <img src="http://www.meuseriado.com.br/images/series/users/1/969038_509418345804073_1446962869_n.jpg" width="60" height="60" alt="Marcos Vinicius Teixeira">
                </a>
              </li>
              <li>
                <a href="/users/marcos-vinicius-teixeira" class="tip-user">
                  <img src="http://www.meuseriado.com.br/images/series/users/1/969038_509418345804073_1446962869_n.jpg" width="60" height="60" alt="Marcos Vinicius Teixeira">
                </a>
              </li>
              <li>
                <a href="/users/marcos-vinicius-teixeira" class="tip-user">
                  <img src="http://www.meuseriado.com.br/images/series/users/1/969038_509418345804073_1446962869_n.jpg" width="60" height="60" alt="Marcos Vinicius Teixeira">
                </a>
              </li>
              <li>
                <a href="/users/marcos-vinicius-teixeira" class="tip-user">
                  <img src="http://www.meuseriado.com.br/images/series/users/1/969038_509418345804073_1446962869_n.jpg" width="60" height="60" alt="Marcos Vinicius Teixeira">
                </a>
              </li>
              <li>
                <a href="/users/marcos-vinicius-teixeira" class="tip-user">
                  <img src="http://www.meuseriado.com.br/images/series/users/1/969038_509418345804073_1446962869_n.jpg" width="60" height="60" alt="Marcos Vinicius Teixeira">
                </a>
              </li>
              <li>
                <a href="/users/marcos-vinicius-teixeira" class="tip-user">
                  <img src="http://www.meuseriado.com.br/images/series/users/1/969038_509418345804073_1446962869_n.jpg" width="60" height="60" alt="Marcos Vinicius Teixeira">
                </a>
              </li>
            </ul>
            <div class="row mostrar-todos-pequeno">
              <div class="large-12 columns">
                <a href="/series/anatomia-de-grey/personagens" class="right">Mostrar todos</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="large-4 small-4 columns">
        <%= link_to "Votar nessa opção", votar_batalha_serie_path(batalha_id: @batalha, id: @batalha.desafiada), class: "small button large-12 success columns primeiro-botao", method: :put%>

        <div class="row">
          <div class="large-12 columns">
            <h3>Quem apoia esta opção: (<%= likes_desafiada %>)</h3>
            <ul class="quem-viu-episodio lista-com-margem-menor">
              <li>
                <a href="/users/marcos-vinicius-teixeira" class="tip-user">
                  <img src="http://www.meuseriado.com.br/images/series/users/1/969038_509418345804073_1446962869_n.jpg" width="60" height="60" alt="Marcos Vinicius Teixeira">
                </a>
              </li>
              <li>
                <a href="/users/marcos-vinicius-teixeira" class="tip-user">
                  <img src="http://www.meuseriado.com.br/images/series/users/1/969038_509418345804073_1446962869_n.jpg" width="60" height="60" alt="Marcos Vinicius Teixeira">
                </a>
              </li>
              <li>
                <a href="/users/marcos-vinicius-teixeira" class="tip-user">
                  <img src="http://www.meuseriado.com.br/images/series/users/1/969038_509418345804073_1446962869_n.jpg" width="60" height="60" alt="Marcos Vinicius Teixeira">
                </a>
              </li>
              <li>
                <a href="/users/marcos-vinicius-teixeira" class="tip-user">
                  <img src="http://www.meuseriado.com.br/images/series/users/1/969038_509418345804073_1446962869_n.jpg" width="60" height="60" alt="Marcos Vinicius Teixeira">
                </a>
              </li>
              <li>
                <a href="/users/marcos-vinicius-teixeira" class="tip-user">
                  <img src="http://www.meuseriado.com.br/images/series/users/1/969038_509418345804073_1446962869_n.jpg" width="60" height="60" alt="Marcos Vinicius Teixeira">
                </a>
              </li>
              <li>
                <a href="/users/marcos-vinicius-teixeira" class="tip-user">
                  <img src="http://www.meuseriado.com.br/images/series/users/1/969038_509418345804073_1446962869_n.jpg" width="60" height="60" alt="Marcos Vinicius Teixeira">
                </a>
              </li>
            </ul>
            <div class="row mostrar-todos-pequeno">
              <div class="large-12 columns">
                <a href="/series/anatomia-de-grey/personagens" class="right">Mostrar todos</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<br/>

<div class="row">
  <div class="large-8 columns">
    <!-- COLOCAR AKI OS COMENTARIOS -->
    <h2>Comentários</h2>
    <%= commontator_thread(@batalha) %>
  </div>

  <div class="large-4 columns">
    <h2>Outras batalhas:</h2>

    <div class="row">
      <div class="large-12 columns">
        <a href="#">
          <div class="row outras-batalhas">
            <div class="large-5 columns">
              <img src="http://meuseriado.com.br/images/series/poster/75760-34.jpg" alt="">
            </div>
            <div class="large-2 columns versus">
            </div>
            <div class="large-5 columns">
              <img src="http://meuseriado.com.br/images/series/poster/71528-1.jpg" alt="">
            </div>
          </div>
        </a>

        <div class="row mostrar-todos">
          <div class="large-12">
            <a href="/series/anatomia-de-grey/personagens" class="right">Mostrar todas as batalhas &gt;&gt;</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
