<div class="row">
  <div class="large-12 columns">

    <!-- Desktop Slider -->

    <ul class="breadcrumbs">
      <li><a href="/">meuseriado</a></li>
      <li><a href="/series">Séries</a></li>
      <li class="current"><a href='/series/<%= @serie.slug %>'><%= @serie.nome %></a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <img src="<%= @serie.poster %>" alt='<%= @serie.slug %>-grande'>

    <div class="row">
      <script type="text/javascript">
          $(document).ready(function () {
              $('#star').raty({
                  <% if current_user && @serie.nota_user(current_user) %>
                  score: <%= @serie.nota_user(current_user) %>,
                  <% end %>
                  half: true,
                  size: 24,
                  starHalf: '/images/star-half-big.png',
                  starOff: '/images/star-off-big.png',
                  starOn: '/images/star-on-big.png',
                  click: function (score, evt) {
                      $.post("<%= dar_nota_serie_path %>", { nota: score });
                  }
              });
          });
      </script>
      <script type="text/javascript">
          $(document).ready(function () {
              $('#star2').raty({readOnly: true, score: <%=@serie.nota.to_f/2%>});
          });
      </script>


      <div class="large-4 columns">
        <h4>Avalie:</h4>
      </div>
      <div class="large-8 columns">
        <div id="star" class="nota-da-serie"></div>
      </div>


    </div>

    <% if (user_signed_in? && current_user.viu_serie?(@serie)) %>
        <a href='/series/<%= @serie.slug %>/desmarcar' class="small button large-12 success columns primeiro-botao" rel="nofollow">Remover
          das favoritas!</a>
    <% else %>
        <a href='/series/<%= @serie.slug %>/adicionar' class="small button large-12 success columns primeiro-botao" rel="nofollow">Adicionar
          as minhas séries favoritas!</a>
    <% end %>
    <a href='/series/<%= @serie.slug %>/marcar_toda' class="small button large-12 columns" rel="nofollow">Marcar série
      inteira como
      vista</a>
    <a href="#" class="small button secondary large-12 columns">Vou assistir depois</a>
    <a href="#" class="small button secondary large-12 columns">Escrever uma avaliação</a>
    <h4>Elenco:</h4>
    <ul class="lista-elenco">
      <% @serie.personagens_imagem.limit(8).each do |p| %>
          <li>
            <a href="/series/<%= @serie.slug %>/personagens/<%= p.slug %>"><img src="<%= p.imagem %>" alt="<%= p.nome %>" title="<%= p.nome %>" class="imagem-elenco"></a>
          </li>
      <% end %>
    </ul>
    <a href="/series/<%= @serie.slug %>/personagens" class="right">Mostrar todo o elenco >></a>

  </div>
  <div class="large-8 columns">
    <h1 class="titulo-serie"><%= @serie.nome %></h1>

    <div class="row infos-interior">
      <div class="large-4 columns"><b>Média geral:</b>

        <div id="star2" class="estrelas-pagina-interior"></div>
        <span class="nota-numerica"></span></div>
      <div class="large-4 columns genero-serie-interno">
        <b>Gênero:</b> <%= @serie.generos.first.nome if @serie.generos %>
      </div>
      <div class="large-4 columns data-lancamento-interno">
        <b>Lançamento:</b> <%= date @serie.data_lancamento %>
      </div>
    </div>
    <% if current_user.try(:admin?) && @serie.trailer.nil? %>
        <div class="row adicionar-trailer">
          <div class="large-12 columns">
            <%= form_tag(controller: "series", action: "inserir_trailer") do %>
                <div class="row">
                  <div class="large-12 columns">
                    <label for="codigo-youtube">
                      Parace que esta série ainda não tem trailer! Adicione um trailer agora mesmo:
                    </label>
                  </div>
                </div>
                <div class="row collapse">
                  <div class="large-10 columns">
                    <input type="text" id="codigo-youtube" name="trailer" placeholder="Coloque aqui o código de incorporação do youtube...">
                    </input>
                  </div>
                  <div class="large-2 columns">
                    <input type="submit" class="button prefix">
                  </div>
                </div>
            <% end %>
          </div>
        </div>
    <% end %>

    <% if @serie.trailer %>
        <div class="row">
          <div class="large-12 columns linha-multimidia">
            <div class="left video-trailer">
              <iframe width="270" height="280" src="<%= @serie.trailer %>" frameborder="0" allowfullscreen></iframe>
            </div>
            <%
               #<div class="anuncio-grande right">
               #<img src="/images/anuncio2.jpg" alt="">
               #</div>         %>
          </div>
        </div>
    <% end %>

    <p class="justify"><%= @serie.sinopse %></p>

    <div class="section-container accordion" data-section="accordion">
      <% @serie.temporadas_validas_ordenadas.each_with_index do |temporada, index| %>
          <section class="<%= 'active' if index = 0 %>">
            <%= listar_temporada temporada %>
          </section>
      <% end %>
      <section>
        <%= listar_temporada @serie.temporada_especial %>
      </section>
    </div>
    <%= commontator_thread(@serie) %>
  </div>
</div>