<% # Clients of this partial must supply the following variables:
   # thread
   # user
%>

<% can_edit = thread.can_be_edited_by?(user) %>

<div id="thread_<%= thread.id.to_s %>_comment_list_div" class="thread_comment_list">
  <% thread.ordered_comments.each do |comment| %>
      <% next unless comment.can_be_read_by?(user) %>
      <%= render :partial => 'commontator/comments/show',
                 :locals => {:comment => comment,
                             :user => user} %>
  <% end %>
</div>

<br/>


<div id="thread_<%= thread.id %>_new_comment_div">
</div>


<% if !user.nil? %>
    <span id="thread_<%= thread.id %>_new_comment_link_span" class="thread_new_comment_link">
    <%= link_to thread.config.comment_create_verb_present.capitalize + ' ' + thread.config.comment_name,
                commontator.new_thread_comment_path(thread), :remote => true, class: "button prefix" %>
  </span>
<% end %>
